<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/base.css') }}"
    />
    <title>Hello</title>
  </head>
  <body>
    <p align="Center">
      <a href="home">
        <button class="grey" style="height: 75px; width: 150px">Home</button>
      </a>
    </p>
    <div class="container">
      <form
        action="{{ url_for('create_folder') }}"
        method="post"
        align="Center"
      >
        <label for="input">Or You can select from existing here:</label><br />
        <select name="folder">
          {% for option in options %}
          <option>{{ option }}</option>
          {% endfor %}
        </select>
        <input type="text" name="folder_name" value="" required="" /><br />
        <input type="submit" value="Select Folder" />
      </form>
    </div>
    <div class="div">
      <form action="{{ url_for('start_Photos') }}" method="post" align="Center">
        Selected Folder is : {{FolderN}}<br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
