<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/new.css') }}"
    />
    <title>Stones Inc.</title>
  </head>
  <body>
    <div class="login-box">
    
      <h2>Hello</h2>
      <form action="{{ url_for('create_folder') }}" method="post" >
        <div class="user-box">
          <label for="input">You can select from existing here:</label><br />
          <div class="formbuilder-select form-group field-select-1671271428957">
            <label for="select-1671271428957" class="formbuilder-select-label"
              >You can select from existing here:</label
            ><br />
            <select
              class="form-control"
              name="folder"
              id="folder"
            >
              {% for option in options %}
              <option>{{ option }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="user-box">
        
          <input type="text" name="folder_name" value="" placeholder="Enter the Folder Name" /><br />
    <button class="submit-button" type="submit">
        <h3>
        Select Folder</h3>
        </button>
   <br>
</div>
<div class="divi">
      </form>
          
      <form action="{{ url_for('start_Photos') }}" method="post" align="Center">
        <h2>
        Selected Folder is : {{FolderN}}</h2><br />
            <button class="submit-button" type="submit">
        <h3>   Start</h3>
        </button>
      </form>

    </div>
<button class= "submit-button"  onclick="redirectToRoute('/browser')">Browse</button>   
</div>
<div class="feed">
  <button id="start-button" onclick="callRoute('/start_stream')">Start Stream</button>
<button id="stop-button" onclick="callRoute('/stop_stream')">Stop Stream</button>
<button id="Rec-On"  onclick="callRoute('/rec_on')">Start Rec</button>
<button id="Rec-Off" onclick="callRoute('/rec_off')">Stop Rec</button>

  <img src="/video_feed" id="video" />
</div>
<script>

// Create an XMLHttpRequest object
const xhr = new XMLHttpRequest();

  // Function to start the stream
function callRoute(Route) {
  // Send a request to the server to start the stream
  xhr.open("POST", Route, true);
  xhr.send();
  console.log("Success")
}

function redirectToRoute(route) {
  window.location.href = route;
}


</script>
    </body>

</html>
