<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/viewer.css') }}"
    />
  </head>
  <body>
    <div class="full-img" id="fullImgBox">
      <img src="/static/StoredData/" id="fullImg" />
      <span onclick="closeFullImg()">X</span>
      <span onclick="closeFullImg()"><h1>></h1></span>
      <span onclick="closeFullImg()"><h1><</h1></span>
    </div>

    <div class="img-gallery">
      {% for file in files %}
      <img
        src="/static/StoredData/{{path}}/{{ file }}"
        width="120"
        height="90"
        onclick="openFullImg(this.src)"
      />
      {% endfor %}
    </div>

    <script>
      var fullImgBox = document.getElementById("fullImgBox");
      var fullImg = document.getElementById("fullImg");

      function openFullImg(pic) {
        fullImgBox.style.display = "flex";
        fullImg.src = pic;
      }

      function closeFullImg() {
        fullImgBox.style.display = "none";
      }
    </script>
  </body>
</html>
